if SHIELD_LUMO_LEFT

config ZMK_KEYBOARD_NAME
    default "LuMo"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

#if ZMK_DISPLAY
#
#config SSD1306
#    default y
#    
#endif # ZMK_DISPLAY

endif

if SHIELD_LUMO_LEFT || SHIELD_LUMO_RIGHT

config ZMK_SPLIT
    default y


endif
